<h2>Listing All Articles</h2>
<p><%= link_to "Create new article", new_article_path %></p>
<div class="jumbotron col-xs-offset-1 col-xs-10">
  <h1 class="Col-xs-offset-1 col-xs-10">Hello, ROLKE!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
</div><table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>
  <% @articles.each do |article|%>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.description %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td>
        <%= link_to 'Delete', 
            article_path(article), 
            method: :delete, 
            data:{confirm: "Are you sure?"}
        %>
      </td>
    </tr>
  <% end %>
</table>